a. List the areas you would look into when it comes to data preparation
b. Highlight any data idiosyncrasies that you might have observed
c. Put together a short presentation/document to tell a story about the key insights and
observations, taking into consideration dataset limitations.

List the areas you would look into when it comes to data preparation
Ans:
For data preparation I would like into consider variables purpose, occupation, shopping, accomdation,traveling mode.

b. Highlight any data idiosyncrasies that you might have observed.
Ans:
From this data it shows the tendency of the visitors from a country Indonesia.

In [ ]:
c. Put together a short presentation/document to tell a story about the key insights and
observations, taking into consideration dataset limitations.
Ans:
link: https://public.tableau.com/views/Internshipwork2/Story1?:language=en&:display_count=y&publish=yes&:origin=viz_share_link

In [1]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_excel('C:/Internship2/MockSurveyData.xlsx')

In [13]:
data.head(20)

,case,Year,R.mth,date,intv_nam,Country_residence,City_residence,Purpose_grp,Purpose,Weights_QTR,...,tototh_$,totshopping_$,totexp_$,MainAccomm,MainHotel,travel_companion.1,travel_companion.2,travel_companion.3,travel_companion.4,travel_companion.5
0,18,2015,January,2015-01-01,Cindy Liu,Indonesia,Yogyakarta,Leisure,Holiday/ Rest & Relax,632.145161,...,0.0,854.853136,1096.186995,Hotel,V Hotel Lavender,Spouse,Children aged 8-12 yrs,NaN,NaN,NaN
1,41,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Holiday/ Rest & Relax,341.937500,...,0.0,171.519802,379.309926,Hotel,Madras Hotel,Spouse,Children aged 0-7 yrs,Friends,NaN,NaN
2,43,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Holiday/ Rest & Relax,432.866667,...,0.0,104.853136,420.727677,Hotel,Hotel 81 - Geylang,Spouse,Children aged 8-12 yrs,NaN,NaN,NaN
3,44,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Others,368.285714,...,0.0,220.853136,378.990074,Accommodation not required - Others,NaN,Partner/ Boyfriend/ Girlfriend,Parents/ Parents-in-law,Siblings,NaN,NaN
4,45,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Others/ Refused,"Others - Personal (e.g. weddings, funerals, etc)",315.254902,...,0.0,104.853136,342.356298,Hotel,Hotel 81 - Bencoolen,Parents/ Parents-in-law,Siblings,NaN,NaN,NaN
5,46,2015,January,2015-01-01,Philip Chew,Indonesia,Bengkulu,Leisure,Holiday/ Rest & Relax,361.555556,...,0.0,164.853136,290.643882,Accommodation not required - Others,NaN,Parents/ Parents-in-law,Other relatives,Siblings,NaN,NaN
6,47,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Holiday/ Rest & Relax,341.937500,...,0.0,119.853136,278.349476,Hostel (Rental by bed),NaN,Friends,NaN,NaN,NaN,NaN
7,49,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Holiday/ Rest & Relax,341.937500,...,0.0,114.853136,165.169434,Stayed with relatives/ friends,NaN,Friends,NaN,NaN,NaN,NaN
8,50,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Holiday/ Rest & Relax,621.195652,...,0.0,104.853136,386.853113,Hotel,Hotel 81 - Geylang,Spouse,Children aged 8-12 yrs,NaN,NaN,NaN
9,51,2015,January,2015-01-01,Philip Chew,Indonesia,Tanjung Pinang,Leisure,Holiday/ Rest & Relax,341.937500,...,0.0,114.853136,253.222957,Hostel (Rental by bed),NaN,Friends,NaN,NaN,NaN,NaN
10,52,2015,January,2015-01-01,Philip Chew,Indonesia,Tanjung Pinang,Leisure,Holiday/ Rest & Relax,341.937500,...,0.0,271.519802,757.910689,Hotel,Hotel Clover (Not Specified),Parents/ Parents-in-law,NaN,NaN,NaN,NaN
11,53,2015,January,2015-01-01,Philip Chew,Indonesia,Jakarta,Leisure,Holiday/ Rest & Relax,310.762963,...,0.0,244.853136,587.844375,Hotel,Bay Hotel Singapore,Alone,NaN,NaN,NaN,NaN
12,54,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Others,368.285714,...,0.0,124.853136,172.653619,Stayed with relatives/ friends,NaN,Siblings,NaN,NaN,NaN,NaN
13,55,2015,January,2015-01-01,Philip Chew,Indonesia,East Java,Leisure,Holiday/ Rest & Relax,315.254902,...,0.0,148.853136,274.200096,Hotel,Fragrance Hotel - Classic,Others,NaN,NaN,NaN,NaN
14,56,2015,January,2015-01-01,Philip Chew,Indonesia,Lampung,Leisure,Visiting friends/relatives,891.375000,...,0.0,171.519802,272.152400,Stayed with relatives/ friends,NaN,Children aged 8-12 yrs,Siblings,NaN,NaN,NaN
15,57,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Others/ Refused,"Others - Personal (e.g. weddings, funerals, etc)",310.762963,...,0.0,104.853136,147.756933,Accommodation not required - Day Tripper,NaN,Friends,NaN,NaN,NaN,NaN
16,58,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Holiday/ Rest & Relax,368.285714,...,0.0,124.853136,436.538321,Hotel,Hotel 81 - Balestier,Parents/ Parents-in-law,Siblings,NaN,NaN,NaN
17,59,2015,January,2015-01-01,Philip Chew,Indonesia,Batam,Leisure,Holiday/ Rest & Relax,341.937500,...,0.0,134.853136,240.517363,Hostel (Rental by bed),NaN,Friends,NaN,NaN,NaN,NaN
18,60,2015,January,2015-01-01,Philip Chew,Indonesia,Palembang,Others/ Refused,"Others - Personal (e.g. weddings, funerals, etc)",651.269231,...,0.0,146.853136,159.865481,Accommodation not required - Day Tripper,NaN,Others,NaN,NaN,NaN,NaN
19,61,2015,January,2015-01-01,Bay Poh Choo,Indonesia,Surabaya,Leisure,Holiday/ Rest & Relax,419.090000,...,0.0,1104.853136,1481.793639,Hotel,Ibis Singapore on Bencoolen,Spouse,NaN,NaN,NaN,NaN

In [6]:
data.describe()

,case,Year,Weights_QTR,shop_$fash,shop_$jew,shop_$wat,shop_$well,shop_$food,shop_$gift,shop_$ctec,...,shop_$any,totacc_$,totfnb_$,tottran_$,totbiz_$,totedu_$,totmedi_$,tototh_$,totshopping_$,totexp_$
count,8887.000000,8887.000000,8887.000000,8807.000000,8807.000000,8807.000000,8807.000000,8807.000000,8807.000000,8807.000000,...,8807.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8887.000000,8.887000e+03,8.887000e+03
mean,11521.140880,2014.503545,592.199788,84.202886,4.073048,5.078301,19.603905,23.220032,7.454479,13.223605,...,167.022502,182.091335,88.972969,35.138836,3.388864,3.001575,216.271980,0.568938,3.155676e+03,3.685110e+03
std,6615.259259,0.500016,352.449669,347.318349,124.264357,80.738276,80.528533,61.717987,34.570943,100.795269,...,443.041314,270.410515,140.990364,45.102560,86.199504,114.616839,2234.957037,7.632622,2.735708e+05,2.736304e+05
min,15.000000,2014.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.086393e+01,8.086393e+01
25%,5623.500000,2014.000000,419.090000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.633333,0.000000,15.322785,11.361328,0.000000,0.000000,0.000000,0.000000,1.018482e+02,2.070473e+02
50%,11381.000000,2015.000000,534.883333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,55.000000,77.870370,55.146940,23.197952,0.000000,0.000000,0.000000,0.000000,1.480251e+02,4.279709e+02
75%,17418.500000,2015.000000,666.422535,70.000000,0.000000,0.000000,0.000000,30.000000,0.000000,0.000000,...,175.000000,275.810124,116.015031,42.670908,0.000000,0.000000,0.000000,0.000000,2.680251e+02,8.552404e+02
max,23243.000000,2015.000000,8958.000000,15000.000000,10000.000000,4500.000000,2000.000000,2150.000000,1375.000000,3500.000000,...,15000.000000,3129.199893,5802.015116,786.019694,6000.000000,9000.000000,100000.000000,350.000000,2.578999e+07,2.579524e+07

In [15]:
data['intv_nam'].unique()

array(['Cindy Liu', 'Philip Chew', 'Bay Poh Choo', 'Simon', 'Shariffah',
       'Adwen', 'Noraini', 'Teck Ghee', 'Anderson Yu Tor Kim', 'Bhadrul',
       'Chris', 'Felicia', 'Nizam', 'Patrick lim', 'Jay', 'CI', 'PC',
       'S1', 'And', 'Patrick Lim', 'Anees', 'Joeypoh', 'Cl', 'Sharon Hsu',
       'Sarah', 'Angeline Cheong', 'Shanon Lim', 'Cindy Lim', 'Sharrifah',
       'BAY POH CHOO', 'Cindy liu', 'Meri', 'Janelle', 'Cindy Pang'],
      dtype=object)

In [16]:
data['Country_residence'].unique()

array(['Indonesia'], dtype=object)

In [17]:
data['Purpose_grp'].unique()

array(['Leisure', 'Others/ Refused', 'Healthcare+Accompanying Pax',
       'Business+Accompanying Pax', 'Education+Accompanying Pax'],
      dtype=object)

In [19]:
data['Purpose'].unique()

array(['Holiday/ Rest & Relax', 'Others',
       'Others - Personal (e.g. weddings, funerals, etc)',
       'Visiting friends/relatives',
       'To take or join a regional or international cruise',
       'Outpatient consultation/treatment',
       'Visiting an international student studying in Singapore',
       'Accompanying a Healthcare/medical visitor for Outpatient consultation/treat',
       'General business purpose', 'Sightseeing/ Attractions', 'Stopover',
       'Others - Work Related (e.g. visa, insurance, etc)',
       'Student events', 'To shop/attend shopping events in Singapore',
       'Company sponsored holiday',
       'Executive training, including training workshops and seminar',
       'Corporate/business meetings', 'IR (e.g. MBS, RWS)',
       'Convention/conference',
       'Skills development/skills training/vocational training',
       'Exhibition/Trade show', 'In-patient treatment',
       'Student enrichment programmes', 'In-house company training',
       'Music-related', 'Performing Arts',
       'Gathering informations on the Education services in Singapor',
       'Study mission', 'School trips', 'Accompanying a business visitor',
       'Accompanying a Healthcare/medical visitor for Day surgery',
       'Accompanying a Healthcare/medical visitor for In-patient treatment',
       'Sporting',
       'Accompaning an international student studying in Singapore',
       'Cultural Festivals', 'Day-surgery', 'Family Entertainment',
       'To experience different cultures',
       'To experience the food/food events in Singapore',
       'To experience the nightlife in Singapore'], dtype=object)

In [20]:
data['Air_Terminal'].unique()

array(['Terminal 1', nan, 'Terminal 2', 'Terminal 3'], dtype=object)

In [22]:
data['Land_Terminal'].unique()

array([nan, 'Tuas', 'Woodlands'], dtype=object)

In [23]:
data['Sea_Terminal'].unique()

array([nan, 'RFT', 'MBCCS', 'TMFT', 'HCC'], dtype=object)

In [25]:
data['langint'].unique()

array(['English', 'Chinese', 'Malay', 'Hybrid Chinese', 'Indonesian',
       'Hybrid Indonesian', 'Japanese', 'Hybrid French'], dtype=object)

In [28]:
data['length_stay'].unique()

array(['4 days', '2 days', '3 days', '1 day', '5 days', 'Under 1 day',
       '8-10 days', '6 days', '7 days', '15-29 days', '11-14 days',
       '30-59 days', '60 days & over'], dtype=object)

In [32]:
data['shop_$oth'].unique()

array([0.00000000e+00, 3.60000000e+01, 7.50000000e+00, 3.00000000e+01,
                  nan, 8.50000000e+01, 1.00000000e+02, 2.00000000e+02,
       1.25000000e+02, 1.30000000e+02, 5.00000000e+01, 2.20000000e+02,
       1.00000000e+01, 1.50000000e+02, 2.25000000e+01, 4.45000000e+01,
       1.00000000e+00, 1.15000000e+02, 2.70000000e+01, 2.65000000e+01,
       2.40000000e+01, 7.00000000e+01, 6.00000000e+02, 6.66666667e+01,
       1.89000000e+02, 6.00000000e+01, 8.00000000e+01, 2.00000000e+01,
       6.30000000e+01, 2.14285714e+01, 2.20000000e+01, 3.50000000e+01,
       4.50000000e+01, 7.50000000e+01, 4.00000000e+01, 2.50000000e+01,
       5.00000000e+00, 1.60000000e+02, 1.75000000e+01, 2.33333333e+01,
       1.80000000e+01, 7.10000000e+01, 3.20000000e+01, 1.50000000e+01,
       1.60000000e+01, 2.50000000e+02, 2.72727273e+00, 1.06666667e+01,
       3.00000000e+02, 1.08000000e+02, 3.19000000e+02, 1.90000000e+01,
       8.70000000e+01, 4.25000000e+01, 5.50000000e+01, 2.31000000e+02,
       4.00000000e+00, 3.70000000e+01, 1.65000000e+01, 9.50000000e+01,
       2.30000000e+01, 2.90000000e+01, 1.00000000e+03, 3.25000000e+01,
       2.75000000e+01, 2.85000000e+01, 4.10000000e+01, 2.60000000e+01,
       2.60000000e+02, 3.75000000e+01, 1.53500000e+02, 1.09000000e+02,
       5.00000000e+02, 6.66666667e+00, 3.75000000e+02, 3.40000000e+01,
       3.50000000e+02, 6.60000000e+01, 1.66666667e+01, 1.40000000e+03,
       1.03000000e+03, 1.43333333e+01, 6.00000000e+00, 2.05000000e+01,
       1.11111111e+02, 1.10000000e+01, 1.10000000e+02, 6.86225000e+01,
       5.80000000e+01, 3.33333333e+01, 9.00000000e+01, 3.30000000e+01,
       8.00000000e+00, 3.90000000e+01, 3.66666667e+01, 4.80000000e+01,
       1.30000000e+01, 1.95000000e+01, 1.25000000e+01, 2.80000000e+01,
       6.20000000e+01, 1.20000000e+01, 4.20000000e+01, 1.05000000e+02,
       2.80000000e+02, 2.40000000e+02, 1.20000000e+02, 5.50000000e+02,
       4.00000000e+02, 1.28000000e+01, 2.10000000e+02, 3.00000000e+00,
       1.73000000e+02, 5.30000000e+01, 1.04000000e+02, 6.50000000e+00,
       9.80000000e+00, 2.70000000e+00, 3.80000000e+01, 1.20000000e+03,
       9.00000000e+02, 4.90000000e+01, 2.30000000e+02, 1.80000000e+02,
       9.95000000e+01, 8.50000000e+00, 1.82000000e+01, 2.93000000e+01,
       3.21000000e+01, 3.26666667e+03, 8.80000000e+01, 6.40000000e+01,
       4.72000000e+01, 6.80000000e+01, 8.33333333e+02, 1.18000000e+01,
       4.30000000e+01, 4.70000000e+01, 1.70000000e+01, 1.90000000e+02,
       2.50000000e+00, 1.66000000e+02, 2.85714286e+01, 5.60000000e+00,
       1.40000000e+01, 7.00000000e+02, 2.61000000e+02, 5.20000000e+01,
       9.40000000e+01, 3.14285714e+01, 7.60000000e+01, 2.35000000e+01,
       3.10000000e+01, 2.47000000e+02, 2.70000000e+02, 8.20000000e+01,
       1.75000000e+02, 2.45000000e+01, 1.85000000e+01, 1.33333333e+02,
       1.05000000e+01, 5.55555556e+00])

In [34]:
data['travel_companion.1'].unique()

array(['Spouse', 'Partner/ Boyfriend/ Girlfriend',
       'Parents/ Parents-in-law', 'Friends', 'Alone', 'Siblings',
       'Others', 'Children aged 8-12 yrs', 'Children aged 20-39 yrs',
       'Business associates/ Colleagues', 'Children aged 13-19 yrs',
       'Other relatives', 'Children aged 0-7 yrs',
       'Grandparents/ Grandparents-in-law',
       'Children aged 40 yrs and above'], dtype=object)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8887 entries, 0 to 8886
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   case                8887 non-null   int64
 1   Year                8887 non-null   int64
 2   R.mth               8887 non-null   object
 3   date                8887 non-null   datetime64[ns]
 4   intv_nam            8887 non-null   object
 5   Country_residence   8887 non-null   object
 6   City_residence      8887 non-null   object
 7   Purpose_grp         8887 non-null   object
 8   Purpose             8887 non-null   object
 9   Weights_QTR         8887 non-null   float64
 10  Air_Terminal        5697 non-null   object
 11  Sea_Terminal        2828 non-null   object
 12  Land_Terminal       355 non-null    object
 13  langint             8887 non-null   object
 14  1st_visit           8887 non-null   object
 15  length_stay         8887 non-null   object
 16  travel_type         8887 non-null   object
 17  f1_gender           8887 non-null   object
 18  f3_occupation       8887 non-null   object
 19  f4_industry         6043 non-null   object
 20  f5_designation      5791 non-null   object
 21  f5_designation.oth  5918 non-null   object
 22  shop_$fash          8807 non-null   float64
 23  shop_$jew           8807 non-null   float64
 24  shop_$wat           8807 non-null   float64
 25  shop_$well          8807 non-null   float64
 26  shop_$food          8807 non-null   float64
 27  shop_$gift          8807 non-null   float64
 28  shop_$ctec          8807 non-null   float64
 29  shop_$anti          8807 non-null   float64
 30  shop_$oth           8807 non-null   float64
 31  shop_$any           8807 non-null   float64
 32  totacc_$            8887 non-null   float64
 33  totfnb_$            8887 non-null   float64
 34  tottran_$           8887 non-null   float64
 35  totbiz_$            8887 non-null   float64
 36  totedu_$            8887 non-null   int64
 37  totmedi_$           8887 non-null   float64
 38  tototh_$            8887 non-null   float64
 39  totshopping_$       8887 non-null   float64
 40  totexp_$            8887 non-null   float64
 41  MainAccomm          8854 non-null   object
 42  MainHotel           4297 non-null   object
 43  travel_companion.1  8887 non-null   object
 44  travel_companion.2  1632 non-null   object
 45  travel_companion.3  490 non-null    object
 46  travel_companion.4  94 non-null     object
 47  travel_companion.5  17 non-null     object
dtypes: datetime64[ns](1), float64(19), int64(3), object(25)
memory usage: 3.3+ MB

In [8]:
data.isnull().sum()

case                     0
Year                     0
R.mth                    0
date                     0
intv_nam                 0
Country_residence        0
City_residence           0
Purpose_grp              0
Purpose                  0
Weights_QTR              0
Air_Terminal          3190
Sea_Terminal          6059
Land_Terminal         8532
langint                  0
1st_visit                0
length_stay              0
travel_type              0
f1_gender                0
f3_occupation            0
f4_industry           2844
f5_designation        3096
f5_designation.oth    2969
shop_$fash              80
shop_$jew               80
shop_$wat               80
shop_$well              80
shop_$food              80
shop_$gift              80
shop_$ctec              80
shop_$anti              80
shop_$oth               80
shop_$any               80
totacc_$                 0
totfnb_$                 0
tottran_$                0
totbiz_$                 0
totedu_$                 0
totmedi_$                0
tototh_$                 0
totshopping_$            0
totexp_$                 0
MainAccomm              33
MainHotel             4590
travel_companion.1       0
travel_companion.2    7255
travel_companion.3    8397
travel_companion.4    8793
travel_companion.5    8870
dtype: int64

In [12]:
data['case'].describe()

count     8887.000000
mean     11521.140880
std       6615.259259
min         15.000000
25%       5623.500000
50%      11381.000000
75%      17418.500000
max      23243.000000
Name: case, dtype: float64

In [10]:
data.shape

(8887, 48)